/* body.css */

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  

  @media screen and (max-width: 970px) {
    .Main {
      /* Add any specific styling for the main container on smaller screens */
      display: flex;
      flex-direction: row;

    }
    .main-text {
      /* Add any specific styling for the main text on smaller screens */
      /* For example: font-size: smaller; */
      font-size: 1rem;
      margin-left:120px
    }
  }