img{
    width:600px;
    height:300px;
    float:right;
}
/* body.css */

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .typing-text::after {
    content: '|' black;
    display: inline-block;
    width: 0;
    animation: typing 3s steps(30) infinite;
  }

  @media screen and (max-width: 970px) {
    .Main {
      /* Add any specific styling for the main container on smaller screens */
      display: flex;
      flex-direction: row;

    }
    .main-text {
      /* Add any specific styling for the main text on smaller screens */
      /* For example: font-size: smaller; */
      position: absolute;
      bottom:500px;
      justify-content: center;
      font-size: 1rem;
      text-align:center;
      margin-left:120px
    }
    
    img {
      /* Adjust the height of the image for smaller screens */
      height: auto; /* or specify a reasonable height */
      width: auto; /* or specify a reasonable width */
      max-width: 100%; /* Ensure the image does not overflow its container */
      max-height: 100%; /* Ensure the image does not overflow its container */
    }
  }