/* Navbar.css */

.navbar-container {
    display: flex;

    align-items: center;
    padding: 1rem;
    background-color:rgb(39, 24, 19); /* Set your background color */
  }
  
  .navbar-items {
    display: flex;
    gap: 1rem;
  }
  
  .nav-item {
    list-style: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #fbd38d; /* Set your hover color */
    background-color: #1a1a1a; /* Set your hover background color */
  }
  
  .with-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .login-button {
    /* Add any specific styling for the login button */
  }
  
  .login-btn {
    background-color: white; /* Set your login button color */
    color: BLACK;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #1953a3; /* Set your hover color */
  }
  