.navbar-items{
 justify-content: space-between;
 padding-left: 20px;
 margin-bottom: 10px;
 font-weight: 400;
 padding-right:10px;
}
.navbar-items li a {
  transition :0.1s ease-in-out;
}
Link:hover{
  color:#17cf97;
}


.login-button {
  /* Add any specific styling for the login button */
  margin-bottom: 10px;
}

.login-btn {
   /* Set your login button text color */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
  justify-content: space-between;
}

.login-btn:hover {
  background-color: #19a38c; /* Set your hover color */
}
.icons{
display: none;
margin-top: 20px;
padding-right: 20px;
font-size: 25px;
cursor:pointer;
}

/* Media queries for responsiveness */

@media screen and (max-width:970px) {
  
  .navbar-items{
    display:flex;
    z-index: 50;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:70px;
    right:-300px;
    width:300px;
    height:80vh;
    padding:110px;
    width: 4px;
    background-color: rgb(53, 56, 72);
    border-radius:20px;
    color:white;
  }
  .navbar-items li 
  {
    margin-bottom: 25px;
  }
  .login-button{
    display:none;
  }
  .icons{
    display: block;
  }
  .navbar-items.active{
    right:0px;
    animation: forwards;
    animation-duration: 1s;
  }
  
  .navbar-items .main-links:hover{
    color:black;
  }
  .relative:hover{
    color:black;
  }

  
  
 

}